{% extends "base.html.twig" %}



{% block body %}
    <html >
    <head>
        <meta charset="UTF-8">
        <title>Profil</title>

    </head>

    <body id="carte">

    <section class="profile">
        <header class="user">
            <aside class="loves"><a href="#"></a></aside><img src="{{ asset ('/bundles/framework/images/celine.jpg') }}"/>
            <h1>Céline</h1>
            <p>Dev'</p><a href="{{ path ('defis') }}" class="button"><i class="fa fa-plus"></i>&nbsp; GO GO GO !</a>
        </header>
        <ul class="menu">
            <li class="menu-item active"><i class="fa fa-user"></i><a href="#">Profil</a></li>
            <li class="menu-item"><i class="fa fa-users"></i><a href="#">Centres d'intérêts</a></li>
            <li class="menu-item"><i class="fa fa-gamepad"></i><a href="#">Défis</a></li>
            <li class="menu-item"><i class="fa fa-trophy"></i><a href="#">Badges</a></li>
        </ul>
    </section>

    </body>
    </html>
{% endblock %}