html { height: 83% }

body { height: 85%; margin: 0px; padding: 0px }

#map_canvas { height: 83% ; width:86%;}

.buton input {background-color: #c9302c;
        color: #0f0f0f;
        display: inline-block;
}